[submodule "lab3/cgi-lab"]
	path = lab3/cgi-lab
	url = https://github.com/Gerrinator/cgi-lab.git
[submodule "lab4/mysite"]
	path = lab4/mysite
	url = https://github.com/Gerrinator/django-lab.git
[submodule "lab5/Gerrinator.github.io"]
	path = lab5/Gerrinator.github.io
	url = https://github.com/Gerrinator/Gerrinator.github.io
